*{
    background-color: white;
    font-family: 'Signika', sans-serif;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;

  display:flex;
  justify-content:space-evenly;
  align-items: center;
  background-color: white;
  color: black;  
  z-index: 15;
}

.name{
  font-size: 2rem;
  margin:0.5rem;
  font-weight:bold;
  text-decoration: none;
  /* color: #b37069; */
  color: #4d4d4d; 
}

.name:hover{
  text-decoration: none;
  color:#b37069;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links ul li{
  list-style: none;
}

.navbar-links li a{
  text-decoration: none;
  color: black;
  padding: 1rem;
  margin-left: 2rem;
  display: block;
  font-size: 1rem;
}

.navbar-links a:hover{
    color:#7F867B;
    
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  margin-top: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #000000;
  border-radius: 10px;
}

@media (max-width: 1000px){
    .toggle-button{
      display: flex;
    }
    
    .navbar-links{
      display: none;
      width: 100%;
    }
    
    .navbar{
      flex-direction: column;
      align-items: flex-start;
    }

    .navbar-links ul{
      width: 100%;
      flex-direction: column;
    }

    .navbar-links ul li{
      text-align: center; 
    }

    .navbar-links ul li a{
      padding: .5rem 1rem;
    }

    .navbar-links.active {
      display: flex;
    }
}

#content {
  margin: 0 auto;
  width: 60%;
}
/* Home section------------------------ */

#homeSection{
  margin-bottom: 4rem;
  margin-top: 8rem;
}

#photo{
  max-width: 70%;
  height: auto;
  border-radius: 1rem; 
  float: left;
}

.home{
  text-align: center;
}

.homeInfo{
  padding-top:3rem;
}

#title{
  font-size: 4rem;
}

#subtitle{
  font-size: 1rem;
  color:#283618;
}

.socialIcons{
  text-align: center;
  font-size: 30px;
}

.sIcon {
  color:#000000;
  margin: 1rem;
}

.sIcon:hover {
  color:#b37069;
}
/* About me section------------------------ */

#aboutMeSection{
  margin: 4rem 0;
  text-align: center;
}

#cv, #randomFactsButton{
  text-decoration: none;
  color:black;
  padding: 0.5rem 1rem;
  border: 2px solid #000000;
  border-radius: 0.5rem;
}

#cv:hover, #randomFactsButton:hover{
  text-decoration: none;
  color:#b37069;
  padding: 0.5rem 1rem;
  border: 2px solid #b37069;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
}

#greeting-container-fact{
  padding-top: 1rem;
}

#aboutmephoto{
  border-radius: 0.5rem;
  max-width: 60%;
  height: auto;
  float: right;
}

#aboutMeSection .row{
  padding-top: 3rem;
}

#aboutMeSection h3{
  font-size: 2rem;
}

/* Projects section------------------------ */

#projectsSection{
  margin: 4rem 0;
  text-align: center;
}

#projects{
  text-align: center;
}

.projectImg {
  /* float: left; */
  display: inline-block;
  width:  21rem;
  height: 12rem;
  object-fit: cover;
  background-size: cover;
  margin: 1rem;
  border-radius: 1rem;
  filter: grayscale(100%);

  transition: transform .5s;
}

.projectImg:hover{
  transform: scale(1.1);
  filter: grayscale(0%);
}

/* Contact section------------------------ */

#contactSection{
  margin: 4rem 0;
  text-align: center;
}


/* Footer section ---------------------- */

footer{
  height: 8rem;
  width: 100%;
  background-color: #ddb3af;
}

.socialIconsFooter{
  text-align: center;
  font-size: 30px;
  background-color: #ddb3af;
}

.socialIconsFooter i{
  background-color: #ddb3af;
}

.sIconFooter {
  color:#925a55;
  margin: 1rem;
}

.sIconFooter:hover {
  color:#f5f5f5;
}
